<section id="pending">
  <div class="pending-container">
    <div class="container">
      <h1>Pending</h1>
      <ul class="pending-list">
        @for(p of problems(); track p.id) {
        <li class="problem-content">
          <article>
            <p>From: {{ p.employee }}</p>
            <p>Category: {{ p.category }}</p>
            <p>Urgency: {{ p.urgency }}</p>
            <p>Assigned to: {{ p.team }}</p>
            <p>Description: {{ p.description }}</p>
          </article>
          <button class="resolve-btn" (click)="resolve(p.id)">Resolved</button>
        </li>
        }
      </ul>
    </div>
  </div>
</section>
